@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');


:root {
  --primary: #f5a321;
}

html {
  overflow-y: scroll;
}

::-webkit-scrollbar {

  width: 14px;
  transition: all 0.5s;
  border-radius: 50px;

}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-primary);
  box-shadow: inset 0 0 10px 10px rgba(227, 227, 227, 0.10);
  border: solid 5px transparent;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  transition: all 0.5s;
  background: var(--bg-primary);
  box-shadow: inset 0 0 10px 10px rgba(255, 255, 255, 0.5);
  border: solid 5px transparent;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  transition: all 0.5s;
  background: var(--bg-primary);
  box-shadow: inset 0 0 10px 10px var(--primary);
  border: solid 5px transparent;
  border-radius: 50px;

}

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

html {
  background: #171717;
}


.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}


.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}



.bounce-enter-active {
  animation: bounce-in 0.25s;
}
.bounce-leave-active {
  animation: bounce-in 0.10s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.009);
  }
  100% {
    transform: scale(1);
  }
}